<html>
<style>
@import url(https://fonts.googleapis.com/css?family=Actor|Asap);
#change_profile{
  height:80%;
  width:100%;
  text-align: center;
}
#change_profile .intro{
  color:black;
  font-family: 'Actor', sans-serif;
  font-family: 'Asap', sans-serif;
  font-size: 35px;
}
#change_profile .navbar{
  background-color: white !important;
  width:40% !important;
}
.cancel{
  height:70px;
  margin-left: 10px;
  font-family: 'Actor', sans-serif;
  font-family: 'Asap', sans-serif;
  color:gray;
  border-radius: 6px;
  border-width:2px;
  border-style: solid;
  border-color: #B5B5B5;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left:20px;
}
.cancel:hover{
  background-color: #B5B5B5;
  transition: all .15s ease-in-out;
}
.invite_button{
  background-color: #B24AFF;
  border-width:10px;
  border-style:solid;
  border-radius: 6px;
  border-color:#B24AFF;
}
.invite_button:hover{
  background-color: #8B28D5;
  border-color:#8B28D5;
  transition: all .15s ease-in-out;

}
.accept_user_project{
  width:auto;
  height:auto;
  border:none;
  background-color:#1FD962;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;

}
.accept_user_project:hover{
  background-color: #10AD49;
  transition: all .15s ease-in-out;
}
</style>
  <body>
    <head>
      <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </head>
    <nav class="navbar navbar-light bg-light justify-content-between" style='background: linear-gradient(to right, #9B42D9 , #F0AB33);'>


      <a href='/' class="navbar-brand" style='color:gray;font-family: "Actor", sans-serif;font-family: "Asap", sans-serif;color:#B4B4B1;font-size: 20px;'>GitMeet</a>

      <form class="form-inline">

        {%if view_avatar%}
      <div class="btn-group" style='margin-right:20px;'>
        <button type="button" class="btn btn-my_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='border-radius:3px;background-image:url({{view_avatar}});background-repeat: no-repeat;background-size:48px;height:48px;width:48px;border:2px white;float:right;'>

        </button>
        <div class="dropdown-menu dropdown-menu-right" style='text-align:center;'>

          <strong>{{visitor}}</strong>
          <p>@{{visitor}}</p>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/{{visitor}}">Profile</a>
          <a class="dropdown-item" href="/settings">Settings</a>
          <a class="dropdown-item" href="/features">Help</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href='/signout'>Sign Out</a>
          </div>
        </div>

        {%endif%}

        {%if username%}
        <div class="btn-group" style='margin-right:20px;'>
          <button type="button" class="btn btn-my_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='float:right;border-radius:6px;height:40px;'>
            {%if job_requests.length+messages.length+invitation_messages.length + developer_recommendations.length> 0%}
            <i class="fas fa-bell" style='font-size:1.4em'></i>
              <span class='message_text'></span>
              <span class="badge badge-primary badge-pill" style="font-family: 'Actor', sans-serif;font-family: 'Asap', sans-serif;font-size:15px;">{{job_requests.length+messages.length+invitation_messages.length+developer_recommendations.length}}</span>
            </i>
            {%else%}
              <i class="fas fa-bell" style='font-size:1.4em'></i>

            {%endif%}
          </button>
          <div class="dropdown-menu dropdown-menu-right" style='text-align:center;width: 300px !important;'>

            <!--<div class="dropdown-divider"></div>-->
            <!--
            Here, will probably have to trigger popup with user developer report
            Instead of full request, just say "New Request from {{username}}"
            -->
            {%if job_requests.length > 0%}
            {%for request in job_requests%}
              <a href='' style='text-decoration:none;color:black' data-toggle="modal" data-target="#{{request.div_id}}">New request from <strong>{{request.user.username}}</strong></a>
              <div class="dropdown-divider"></div>

            {%endfor%}
            {%else%}
            <i>No developer requests</i>
            <div class="dropdown-divider"></div>

            {%endif%}
            {%if messages.length%}
            {%for message in messages%}
              <p>Your request to join <a href="{{message}}" style='text-decoration:none;color:black;'><strong>{{message.projectname}}</strong></a> has been accepted!</p>
              <div class="dropdown-divider"></div>
            {%endfor%}
            {%endif%}
            {%if invitation_messages.length > 0%}
              {%for message in invitation_messages%}
                <a href='{{invitation}}' style='color:black;text-decoration:none;'><strong>{{invitation.from_user}}</strong> is inviting you to join <strong>{{invitation.projectname}}</strong></a>
                <div class="dropdown-divider"></div>
              {%endfor%}
            {%endif%}
            {%if developer_recommendations.length > 0%}
            {%for recog in developer_recommendations%}
              <p>You have a new developer recommendation for project <strong>{{recog.projects}}</strong>: <a href='/{{recog.recommending}}' style='text-decoration:none; color:black;'><strong>{{recog.recommending}}</strong></a></p>
              <div class="dropdown-divider"></div>
            {%endfor%}
            {%endif%}

            <a href='/clear_all' style='text-decoration:none;color:black'><strong>Clear All</strong></a>
            </div>
          </div>

      {%endif%}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style='color:white;'>Search</button>
      </form>

    </nav>
    {%if job_requests%}
      {%for request in job_requests%}
      <div class="modal bd-example-modal-lg" id="{{request.div_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header" style='width:auto;'>
              <img src="{{request.user.avatar}}" class="rounded float-left" alt="..." style='background-size:50px;width:50px;height:50px;'>
              <h5 class="modal-title" id="exampleModalLabel" style='margin-left:2%;'>


                Response to job <strong style='color:blue'>{{request.potential_job.title}}</strong> on project <strong style='color:blue'>{{request.project}}</strong>:

              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!--Request to join @{{request.project}} for job {{request.potential_job.title}}-->
              <div class="card-group">

                <div class="card" style='border-top:none;border-left:none;border-bottom:none;text-align:center;font-family: "Actor", sans-serif;font-family: "Asap", sans-serif;'>

                  <div class="card-body">
                    <h5 class="card-title" style='font-size:30px;'><strong><a href='/{{request.user.username}}' style='text-decoration:none;color:black'>{{request.user.username}}</a></strong></h5>
                    <a href="https://github.com/{{request.user.username}}" class="github_home_page" style='color:black;text-decoration:none;'>

                    <i class="fab fa-github" style="font-size: 2em;padding-left:10px;"></i>


                      {{request.user.username}}
                    </a>
                    <div class='spacing' style='height:25px;'></div>
                    {%if request.user.extra.tags%}
                      {%for tag, color in request.user.extra.tags%}
                          <span class="badge badge-primary" style='background-color:{{color}};height:25px;font-size:15px;margin-left:10px;'>{{tag}}</span>
                        {%endfor%}
                    {%endif%}
                    <div class='spacing' style='height:30px;'></div>
                    <p class="card-text"><strong style="font-weight:bold;color:blue;">{{request.user.extra.reputation}}</strong> developer reputation</p>
                    <div class='spacing' style='height:30px;'></div>
                    {%if request.user.summary != ''%}
                    <div class="card border-primary mb-3" style="max-width: 20rem;border-radius:10px;">
                      <div class="card-body text-primary">

                        <p class="card-text" style='color:black'>{{request.user.summary}}</p>
                      </div>
                    </div>
                    {%endif%}



                  </div>
                </div>
                <div class="card" style='border-top:none;border-bottom:none;border-right:none;'>

                  <div class='spacing'></div>
                  <div class="card-body" style='text-align:center;'>
                    <h5 class="card-title" style='font-size:35px;'><strong><u>Experience</u></strong></h5>

                    {%if request.user_experience.length > 0%}
                    <table class="table">
                      <thead>
                        <tr>

                          <th scope="col" style='color:blue'>Projectname</th>
                          <th scope="col"><span style='color:#F0C710'>{{request.user.username}}</span> worked with:</th>

                        </tr>
                      </thead>
                      <tbody>
                        {%for project_experience in request.user_experience%}
                        <tr>

                          <td><a href='{{project_experience}}' style='text-decoration:none;color:black;'><strong>{{project_experience.projectname}}</strong></a></td>

                          <td>

                            {%if project_experience.is_tags > 0%}
                              {%for tag in project_experience%}
                                <span class="badge badge-primary">{{tag}}</span>
                              {%endfor%}
                            {%else%}
                              <i>No tags listed</i>
                            {%endif%}
                          </td>

                        </tr>


                        {%endfor%}



                      </tbody>
                    </table>
                    {%else%}

                      <i>{{request.user.username}} has not joined any projects</i>
                    {%endif%}

                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer" style='text-align:center;'>
              <a href='{{request}}' class='accept_user_project' style='text-decoration:none;color:white;'>
                <i class="fas fa-user-plus"></i>
                Add {{request.user.username}} to project</a>
              <a href='{{request.decline_request}}' class='decline_user_project'>
                <i class="fas fa-minus-circle"></i>
                Decline Request</a>

            </div>
            </div>
          </div>
        </div>

      {%endfor%}
    {%endif%}

    <div id='change_profile'>
      <nav aria-label="breadcrumb" style='width:60%;' class='navbar'>
        <ol class="breadcrumb" style='background-color:white;'>
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
      </nav>

      <h1 class='intro'><strong>Profile Settings</strong></h1>

  <div class='spacer' style='height:10px;'></div>
  <!-- Button trigger modal -->
<button type="button" id='recommendation_profile' class="invite_button" data-toggle="modal" data-target="#exampleModal" style='float:right;margin-right:20%;margin-top:1%;color:white'  data-toggle1="tooltip" data-placement="bottom" title="your developer requests card">
 Quick View
</button>

<!-- Modal -->
<div class="modal bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelCenterTitle" aria-hidden="false">
  <!--<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">-->
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style='border-bottom:none;background-color:#B24AFF'>
          <h5 class="modal-title" id="exampleModalLongTitle">Quick Look</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-group">
            <div class="card" style='border-top:none;border-left:none;border-bottom:none;'>
              <div class="card-img-top" style='width:auto;height:auto;margin:0 auto;'>
                <div class='user_avatar' style='border-radius:10px;background-image:url({{view_avatar}});background-repeat: no-repeat;background-size:200px;height:200px;width:200px;padding-top:200px;margin-top:10%;'>

                </div>
              </div>
              <div class='spacing' style='height:100px;'></div>

            </div>
            <div class="card" style='border-top:none;border-right:none;border-bottom:none;text-align:center;font-family: "Actor", sans-serif;font-family: "Asap", sans-serif;'>

              <div class="card-body">
                <h5 class="card-title" style='font-size:30px;'><strong>{{username}}</strong></h5>
                <a href="https://github.com/{{username}}" class="github_home_page" style='color:black;text-decoration:none;'>

                  <i class="fab fa-github" style="font-size: 2.23em;"></i>
                  {{username}}
                </a>
                <div class='spacing' style='height:25px;'></div>
                {%if regular_tags%}
                  {%for tag, color in regular_tags%}
                      <span class="badge badge-primary" style='background-color:{{color}};height:25px;font-size:15px;margin-left:10px;'>{{tag}}</span>
                    {%endfor%}
                {%endif%}
                <div class='spacing' style='height:60px;'></div>
                <div class="card border-primary mb-3" style="max-width: 20rem;border-radius:10px;">
                  <div class="card-body text-primary">

                    <p class="card-text" style='color:black'>{{user_bio}}</p>
                  </div>
                </div>


                <div class='spacing' style='height:30px;'></div>
                <p class="card-text"><strong style="font-weight:bold">10000</strong> developer reputation</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

      <div class='underscore' style='width:60%;height:2px;background-color:gray;margin:0 auto;'></div>
        <div class='spacer' style='height:30px;'></div>
      <form action='' method='POST' style='text-align:left;width:40%;margin:0 auto;'>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <!--['username', 'name', 'avatar', 'email', 'summary', 'id', 'extra']-->
              <label for="username">Username</label>
              <input type="username" class="form-control" id="username" name='username' aria-describedby="emailHelp" value="{{username}}">
              <small id="usernameHelp" class="form-text text-muted">Username is displayed publicly</small>
            </div>
          </div>
          <div class="col">
            <label for ='user_id'>User Id</label>
            <input id = 'user_id' class="form-control" type="text" placeholder="{{user_id}}" style='width:auto;' readonly>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp" value="{{user_email}}">
          <small id="emailHelp" class="form-text text-muted">Email to display on profile</small>
        </div>
        <div class="form-group">
          <label for ='email_visibility'>Email Visibility</label>
          <select class="custom-select" id = 'email_visibility' name='display_email'>
            <option selected>Show email on profile</option>
            <option value="1">Do not show email on profile</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tags">I want to work with:</label>
          <input type="tags" class="form-control" id="tags" name='tags' aria-describedby="emailHelp" value="{{user_tags}}" placeholder="i.e Python,C++,Java,Web Scraping" data-toggle="tooltip" data-placement="top" title="Tags increases a user's visibility to project creators">
          <small id="taghelp" class="form-text text-muted">Enter tags each spaced by a comma</small>
        </div>
        <div class="form-group">
          <label for="description">Bio</label>
          <textarea class="form-control" id="description" rows="3" name='summary'>{{user_bio}}</textarea>
          <small id="taghelp" class="form-text text-muted">Describe your developer interests and skills</small>
        </div>

        <div class="form-group">

          <select class="custom-select" id = 'receive_invites' name='receive_invites'>
            <option selected>I wish to receive developer invitations</option>
            <option value="1">I do not wish to receive developer invitations</option>
          </select>
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Please note that opting to not receive developer invitations means that project creators will not be able to invite you to join their projects
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href='/{{username}}' class='cancel' style='text-decoration:none;color:gray;margin-left:20px;'>Cancel</a>


      </form>

    </div>

  </body>
  <script>
  $('input[type=tags][name=tags]').tooltip({ /*or use any other selector, class, ID*/
      placement: "top",
      trigger: "focus"
  });
  $(function () {
  $('[data-toggle1="tooltip"]').tooltip()
  })
  </script>
</html>
